<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="../static/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../static/font-awesome.min.css"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Artnet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" id="index" href="{{ url_for('views.home') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link" id="matrix-config" href="{{ url_for('views.matrix_config') }}">Configuration</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="../static/jquery-3.2.1.min.js"
    ></script>
    <script
      src="../static/popper.min.js"
    ></script>
    <script
      src="../static/bootstrap.min.js"
    ></script>

    {% block javascript %}
    <script type="text/javascript">
        function deleteNote(noteId) {
            fetch("/delete-note", {
                method: "POST",
                body: JSON.stringify({ noteId: noteId }),
            }).then((_res) => {
                window.location.href = "/";
            });
        }
    </script>
    {% endblock %}
    </body>
</html>